<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="defaultStatementTimeout" value="0" /><!-- 무한대로 기다림 0초는 무한대-->
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="aggressiveLazyLoading" value="true" />
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="callSettersOnNulls" value="true" />
        <setting name="autoMappingBehavior" value="PARTIAL"/> <!-- NONE / PARTIAL / FULL-->
        <setting name="defaultExecutorType" value="SIMPLE"/> <!-- SIMPLE / REUSE / BATCH-->
        <setting name="localCacheScope" value="SESSION"/> <!-- SESSION / STATEMENT-->
        <setting name="jdbcTypeForNull" value="OTHER"/> <!-- NULL / VARCHAR / OTHER-->
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
    </settings>

    <!-- 다른 설정 요소들 (예: typeAliases, typeHandlers, environments 등) -->

<!--    <plugins>-->
<!--        <plugin interceptor=""></plugin>-->
<!--    </plugins>-->

</configuration>